p{
    color:rgb(238, 127, 255);
    background-color: rgb(210, 105, 30);
   

    }
#submit{
   will-change: opacity;
    opacity: 0;
    border-radius: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}